body{
    margin: 0 auto;
    font-family: 'Montserrat';

}
header{
    width: 50%;
    margin: 25.5px auto;
}
.navbar{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}
.navbar-item{
    color: #FF0000;
    text-decoration: none;
}
.navbar-item:last-child{
    margin-right: 0px;
}
 /* main section */
.camera-phone-photo{
    width: 100%;
}
.main-text-section{
    margin: 0 67.5px;
    text-align: center;
}
.main-text-section>h2.main-header{
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #373737;
    text-align:center;
    margin-top: 49px;
}
.main-text-section>p.main-text{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #373737;
    margin-top: 38px;
}
.main-text-section>p.main-text:nth-child(3){
    margin-top: 28px;
}

main>.main-text-section>button.start-button{
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    margin: 66px auto;
}
/* footer */
.footer>p.footer-text{
font-weight: 700;
font-size: 16px;
color: #373737;
text-align: end;
margin: 82px 105px 29px 0px;
}